/* Reseteo básico para eliminar márgenes y padding por defecto */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo del cuerpo para ocupar toda la pantalla */
body {
    height: 100vh;
    width: 100vw;
    overflow: hidden; 
    background-color: #000; 
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Contenedor principal del video */
.video-container {
    position: relative;
    width: 100%;
    max-width: 480px; /* Ancho máximo típico para móviles */
    height: 100vh; /* Ocupa toda la altura de la pantalla */
    overflow: hidden;
}

/* Estilo del reproductor de video */
.video-player {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Asegura que el video llene el contenedor sin deformarse */
}

/* Capa de superposición para información y controles */
.video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #fff;
    pointer-events: none; /* Permite que los clics pasen al video si es necesario */
}

/* Información del video (usuario y descripción) */
.video-info {
    padding: 20px;
    
    pointer-events: auto;
}

.video-info h2 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.video-info p {
    font-size: 14px;
}


.action-btn {
    background: blueviolet;
    border: none;
    color: #fff;
    font-size: 24px;
    margin: 10px 0;
    cursor: pointer;
    pointer-events: auto;
}

/* Media Query para pantallas más grandes */
@media (min-width: 768px) {
    .video-container {
        border-radius: 10px; /* Bordes redondeados en escritorio */
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    }
}

/*contenido de realidad aumentada*/
a-scene {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Contenedor de la escena AR */
#ar-container {
    position:absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
   
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}