body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #813535;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

a-scene, #video, .input_video, .output_canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#ar-container, .container {
    position: unset;
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

#canvas {
    width: 100vw !important;
    height: 100vh !important;
    z-index: 1;
}

.menu-container, .controls {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 20px;
    z-index: 10;
}

.menu-container button, button {
    display: block;
    width: 80%;
    max-width: 300px;
    margin-bottom: 10px;
    border: 2px solid #0056b3;
    padding: 10px 15px;
    background: #007bff;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}

button:hover, .menu-container button:hover, #save-button:hover {
    background: #0056b3;
}

#return-button {
    position: absolute;
    top: 10px;
    left: 10px;
    background: transparent;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    z-index: 10;
}

#return-button:hover {
    color: #0056b3;
}

#save-button {
    width: 30%;
    max-width: 300px;
    padding: 15px;
    background: #798ea5;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    z-index: 10;
}

@media (max-width: 600px) {
    #ar-container {
        height: 60vh;
    }

    button {
        font-size: 14px;
        padding: 8px 12px;
    }

    a-gltf-model {
        scale: 0.3 0.3 0.3;
        position: 0 0 -0.1;
    }
}

.example-container, .options-panel {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
}

.options-panel {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;
}

.options-panel img {
    border: solid 2px;
    width: 50px;
    height: 50px;
    object-fit: cover;
    cursor: pointer;
}

.options-panel img.selected {
    border-color: green;
}

.a-enter-vr-button {
    display: none !important;
}
